*{
  margin: 0;
  padding: 0;
}

body{
  background-color: green;
}

.border {
  /* placering & plats */
  border-style: solid;
  border-color: brown;
  /* Design */
  border-radius: 5%;
}

.parent_info {
  /* placering & plats */
  width: 90%;
  min-width: 350px;
  height: 700px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  text-align: center;
  /* Design */
  border-radius: 5%;
}

.welcome {
  display: inline-block;
  min-width: 300px;
  width: 50%;
  height: 300px;
  margin: 2%;
}

.latest {
  display: inline-block;
  min-width: 130px;
  width: 30%;
  height: 300px;
  margin: 2%;
}

li {
  display: inline-block;
}

a {
  font-size: 40px;
}

/* nav */
  /*Bidra till att menyn följer neråt sidan*/


ul {
  list-style-type: none;
  background: green;
  text-align: center;
}

li a {
  display: inline-block;
  color: white;
  padding: 20px;
  text-decoration: none;
}