/* Global */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Kanit', sans-serif;
  color: #BFAB25;
}

body{
  background-color: #354449;
  border: solid #BFAB25 max(1.5px,0.3vw);
}

a {
  text-decoration: none;
}
.border{
  border: solid #BFAB25 max(2.5px,0.5vw);
  box-sizing: border-box;
  border-radius: 10px;
}
article p {
  padding: 0 1% 1% 2%;
  text-align: left;
}

  /* Info-parent */
  .parent {
    width:max(180px,90%);
    margin-left: auto;
    margin-right: auto;
    background-color: #EAE6E5;
    border-radius: 40px;
    text-align: center;
  }
  /* End - Info-parent */

  /* Social media */
  footer{
    margin-top: max(100px,20%);
    background-color: #EAE6E5;
    width: max(180px,100%);
    
    border-top: solid max(1.5px,0.3vw) #BFAB25;
  }
  footer nav {
    display:flex;
    justify-content: center;
  }
  footer nav div{
    display: flex;
    margin: 3% 10% 3% 0; 
    box-sizing: border-box;
    align-items: center;
  }

  footer a{
    display: inline-block;
    height: max(30px,3vw);
    box-sizing: border-box;
  }
  footer path{
    fill: rgb(29, 155, 240);
  }
  footer svg{
    width: max(30px,4vw);
    height: max(30px,4vw);
    background-color: #EAE6E5;
  }
  footer img{
    width: max(30px,4vw);
    height: max(30px,4vw);
    background-color: #EAE6E5;
  }
  /* End - Social media */

  /* Logo */
  .logo {
    display: inline-block;
    width: max(180px,100%);
    margin-top: 2%;
    box-sizing: border-box;
    text-align: center;
  }
  .logo img {
    display: block;
    width: 15%;
    border-color: #BFAB25;
    border-width: max(1.5px,0.3vw);
    margin-left: auto;
    margin-right: auto;
  }
  /* End - Logo */

  /* Menu */
  .nav_menu {
    display: inline-block;
    background-color: #354449;
    text-align: center;
    width: 100%;
    margin-bottom: min(1%,10px);
  }
  .nav_menu ul {
    display: inline-block;
    width:max(180px,80%);
    list-style-type: none;
    text-align: center;
  }
  .nav_menu li {
    display: inline-block;
    margin: 2% 2% 2% 2%;
    box-sizing: border-box;
    white-space: pre;
  }
  .nav_menu a {
    display: inline-block;
    /* min-width: 50px; */
    padding: max(1px,0.5vw) max(2px,1vw);
    font-size: max(12px,3vw);
    border-radius: 5px;
    border-color: #BFAB25;
    border-width: max(1.5px,0.3vw);
    box-sizing: border-box;
  }
  .nav_menu a:hover {
    box-shadow: inset 1px 1px 15px #BFAB25;
  }
  /* End - Menu */
/* End - Global */

/* Home */
  /* Welcome */
  .welcome_parent {
    display: inline-block;
    width: max(155px,40%);
    margin: 4% 2% 5% 2%;
    background-color: #354449;
    border-radius: 10px;
  }
  .welcome_h2 {
    display: inline-block;
    width: 100%;
    font-size: max(20px,4vw);
    padding: 5% 0 5%;
  }
  .welcome_p{
    text-align: left;
    font-size: max(15px,2vw);
    border-top-style: solid;
    border-width: max(2.5px,0.5vw);
    border-color: #BFAB25;
  }
  /* End - Welcome */

  /* Latest Review */
  .latest_parent {
    display: inline-block;
    width: max(155px,40%);
    margin: 4% 2% 10% 2%;
    font-size: max(12px,2vw);
    box-sizing: border-box;
    vertical-align: top;
  }
  .latest_parent h2 {
    display: inline-block;
    padding: 4% 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    background-color: #354449; 
  }
  .latest_p{
    text-align: center;
    font-size: max(14px,3vw);
    border-width: 0 max(2px,0.5vw) max(1px,0.2vw);
    background-color: #354449;
    border-radius: 0;
  }
  .latest_var_top {
    border-top: solid max(2px,0.5vw) #BFAB25;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .latest_var_bottom {
    border-bottom-width: max(2px,0.5vw);
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px;
  }
  .latest_p:hover {
    box-shadow: inset 1px 1px 15px #BFAB25;
  }
  /* End - Latest Review */
/* End - Home */

/* Collected reviews */
  /* Header */
  #header {
    display: inline-block;
    background-color: #354449;
    padding: 1% 2%;
    margin-top: 2%;
    font-size: max(11px,3vw);
  }
  /* End - Headre */
  /* Review bar */
  .collected_nav{
    display: inline-block;
    margin: 3% 0 3% 0;
  }
  .review_bar {
    display: inline-block;
    width: 90%;
    padding: 2%;
    border-width: max(1.5px,0.3vw);
    background-color:#23282b;
    text-align: left;
  }
  .collected_nev li a {
    display: inline-block;
    width: 90%;
  }
  .review_bar_img {
    display: inline-block;
    width: 20%;
    box-sizing: border-box;
  }
  .review_bar img {
    display: inline-block;
    width: 100%;
    border-width: max(1.5px,0.3vw);
    border-radius: 10px 0 0 10px;
    border-right: none;
    vertical-align: top;
  }
  .parent_piece{
    display: inline-block;
    width: 80%;
    border-top-left-radius: 0;
    background-color: #354449;
    vertical-align: top;
    text-align: center;
  }
  .piece_name {
    display: inline-block;
    width: 75%;
    font-size: max(11px,3vw);
    border-width: max(1px,0.2vw);
    border-top-style: none;
    border-left-style: none;
    border-radius: 0;
    background-color: #EAE6E5;
    vertical-align: top;
    box-sizing: border-box;
  }
  .piece_rating {
    display: inline-block;
    width: 25%;
    border-bottom: solid #BFAB25 max(1px,0.2vw);
    vertical-align: top;
    box-sizing: border-box;
    font-size: max(11px,3vw);
  }
  .parent_piece p {
    font-size: max(10px,1.9vw);
  }
  /* End - Review bar */
/* End - collected reviews */

/* Review page */
  /* Img & info */
  .parent_info_review{
    display: inline-block;
    width: max(150px,40%);
    margin: 5% 1% 2.5% 1%;
    background-color: #354449;
    text-align: left;
    box-sizing: border-box;
  }
  .parent_info_review img {
    display: inline-block;
    width: 100%;
    padding: 5%;
    background-color: #354449;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: solid #BFAB25 max(2.5px,0.5vw);
    box-sizing: border-box;
  }
  .parent_info_review p {
    display: inline-block;
    text-align: left;
    padding: 1%;
    font-size: max(15px,2vw);
  }
  /* End - Img & Info */

  /* Description & review */
  .parent_des_rev{
    display: inline-block;
    margin: 4% 1% 0 1%;
    width: max(150px,40%);
    vertical-align: top;
    box-sizing: border-box;
  }
  .parent_des_rev h2{
    font-size: max(20px,4vw);
    text-decoration: underline;
    background-color: #354449;
    border-radius: 10px;
    margin-bottom: 2%;
  }
  .des_rev{
    display: inline-block;
    background-color: #23282b;
    margin-bottom: 4%;
    box-sizing: border-box;
  }
  .des_rev h3 {
    border-bottom: solid #BFAB25 max(1px,0.2vw);
    font-size: max(20px,2vw);
  }
  .des_rev p {
    font-size: max(12px,1.9vw);
    padding: 1%;
    padding-left: 2%;
  }
  /* End - Des & Rev */
/* End - Review page */

/* Contact page */
  /* The form */
  .parent fieldset{
    display: inline-block;
    width: max(150px,40%);
    padding: 2%;
    margin: 2% 1%;
    text-align: center;
    vertical-align: top;
    background-color: #23282b;
    box-sizing: border-box;
    color:#BFAB25;
  }
  .parent input {
    display: inline-block;
    width: 100%;
  }
  .parent label {
    display: inline-block;
    font-size: max(16px,2vw);
  }
  .parent label article {
    display: inline-block;
    width: max(150px,40%);
    margin: 3.5% 2% 5% 1%;
    background-color: #354449;
    border-radius: 10px;
  }
  .parent label article h2 {
    border-bottom:solid #BFAB25 max(2.5px,0.5vw);
  }
  .message {
    display: inline-block;
    width: 100%;
    max-width: 307px;
    padding: 2%;
    /* Gör sig av med glipan under textarean */
    vertical-align: top; 
    box-sizing: border-box;
    background-color: #354449;
    border:solid #BFAB25 max(2.5px,0.3vw);
    color: #BFAB25;
    font-size: medium;
  }
  #contact_head {
    padding: 0 2%; 
    font-size: max(20px,2vw);
  }
  #send {
    color: #BFAB25;
    background-color: #354449;
    font-size: max(20px,2vw);
    border-radius: 5px;
    border:solid #BFAB25 max(2.5px,0.3vw);
  }
  #send:hover {
    box-shadow: inset 1px 1px 15px black;
  }
  /* End - The form */
/* End - Contact page */