/* Global */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Kanit', sans-serif;
  color: #BFAB25;
}
body{
  min-width: 180px;
  background-color: #354449;
  border: solid max(1.5px,0.3vw);
  text-align: center;
}
a {
  text-decoration: none;
}
.border{
  border: solid max(2.5px,0.5vw);
  border-radius: 10px;
  box-sizing: border-box;
}
article p {
  padding: 0 1% 1% 2%;
  text-align: left;
}
  /* Logo */
  .logo {
    width: max(180px,100%);
    margin-top: 1%;
    text-align: center;
    box-sizing: border-box;
  }
  .logo img {
    width: max(105px,15%);
    height: max(50px,15%);
    border: solid max(1.5px,0.3vw);
    border-radius: 10px;
    box-sizing: border-box;
  }
  /* End - Logo */

  /* Eng-Swe */
  .lang_button {
    display: inline-block;
    margin: max(20px,4%) 2% 0 2%;
    width: max(30px,5%);
    border-style: none;
    background-color: #EAE6E5;
    /* Prevents a "bug" that causes this element to follow adjacent elements down */
    vertical-align: top;
  }
  .lang_button img {
    width: 100%;
    border: solid max(1.5px,0.3vw);
    border-radius: 5px;
    /* Removes the gap under the image */
    vertical-align: top;
    box-sizing: border-box;
  }
  /* End - Eng-Swe */

  /* Menu */
  .nav_menu {
    width: 100%;
    margin-bottom: min(1%,10px);
    background-color: #354449;
    text-align: center;
  }
  .nav_menu ul {
    display: inline-block;
    width:max(180px,80%);
    list-style-type: none;
    text-align: center;
  }
  .nav_menu li {
    display: inline-block;
    margin: 2% 2% 2% 2%;
    box-sizing: border-box;
    /* Prevents line breaks */
    white-space: pre;
  }
  .nav_menu a {
    padding: max(1px,0.5vw) max(2px,1vw);
    font-size: max(12px,3vw);
    border-radius: 5px;
    border-width: max(1.5px,0.3vw);
  }
  .nav_menu a:hover {
    box-shadow: inset 1px 1px 15px #BFAB25;
  }
  /* End - Menu */

  /* Info-parent */
  .parent {
    display: inline-block;
    width:max(180px,90%);
    background-color: #EAE6E5;
    border-radius: 40px;
  }
  /* End - Info-parent */

  /* Social media */
  footer{
    width: max(180px,100%);
    margin-top: max(100px,20%);
    background-color: #EAE6E5;
    border-top: solid max(1.5px,0.3vw);
  }
  footer nav {
    /* Flex is simpler to center horizontally and vertically */
    display:flex;
    justify-content: center;
  }
  footer nav figure{
    /* Flex is simpler to center horizontally and vertically */
    display: flex;
    margin: 3% 10% 3% 0; 
    /* As vertical-align but working */
    align-items: center;
  }
  #last_media{
    margin-right: 0;
  }
  footer path{
    fill: rgb(29, 155, 240);
  }
  footer svg{
    width: max(30px,4vw);
    height: max(30px,4vw);
    background-color: #EAE6E5;
  }
  footer img{
    width: max(30px,4vw);
    height: max(30px,4vw);
    background-color: #EAE6E5;
  }
  /* End - Social media */
/* End - Global */

/* Home */
  /* Welcome */
  .welcome_parent {
    display: inline-block;
    width: max(155px,35%);
    margin: max(20px,4%) 2% 5% 2%;
    background-color: #354449;
    border-radius: 10px;
  }
  .welcome_h2 {
    width: 100%;
    font-size: max(20px,4vw);
    padding: 5% 0 5%;
  }
  .welcome_p{
    text-align: left;
    font-size: max(15px,2vw);
    border-top-style: solid;
    border-width: max(2.5px,0.5vw);
  }
  /* End - Welcome */

  /* Latest Review */
  .latest_parent {
    display: inline-block;
    width: max(155px,40%);
    margin: 4% 2% 10% 2%;
    font-size: max(12px,2vw);
    box-sizing: border-box;
    /* Prevents a "bug" that causes this element to follow adjacent elements down */
    vertical-align: top;
  }
  .latest_parent h2 {
    width: 100%;
    padding: 4% 0;
    background-color: #354449; 
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    box-sizing: border-box;
  }
  .latest{
    text-align: center;
    background-color: #354449;
    font-size: max(14px,3vw);
    border-width: 0 max(2px,0.5vw) max(1px,0.2vw);
    border-radius: 0;
  }
  .latest a p{
    padding: 2%;
  }
  .latest_var_top {
    border-top: solid max(2px,0.5vw);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .latest_var_bottom {
    border-bottom-width: max(2px,0.5vw);
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px;
  }
  .latest_p:hover {
    box-shadow: inset 1px 1px 15px #BFAB25;
  }
  /* End - Latest Review */
/* End - Home */

/* Collected reviews */
  /* Header */
  #collected_header {
    display: inline-block;
    width: max(150px,75%);
    background-color: #354449;
    padding: 1% 2%;
    margin-top: 2%;
    font-size: max(11px,3vw);
  }
  /* End - Headre */
  /* Review bar */
  .collected_nav{
    /* Deletes <li> markers */
    display: inline-block;
    margin: 3% 0 3% 0;
  }
  .review_bar {
    display: inline-block;
    width: 100%;
    padding: 2%;
    background-color:#354449;
    text-align: left;
  }
  .review_bar:hover{
    background-color: #BFAB25;
  }
  .review_bar_min {
    min-height: 11vw;
  }
  .collected_nav a {
    display: inline-block;
    width: 90%;
  }
  .review_bar_img {
    display: inline-block;
    width: max(29px,15%);
    box-sizing: border-box;
  }
  .review_bar img {
    width: 100%;
    height: max(50px,16vw);
    border-width: max(1.5px,0.3vw);
    border-radius: 10px 0 0 10px;
    border-right: none;
  }
  .parent_piece{
    display: inline-block;
    width: 80%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #354449;
    /* Prevents a "bug" that causes this element to follow adjacent elements down */
    vertical-align: top;
    text-align: center;
  }
  .piece_name {
    display: inline-block;
    width: 75%;
    font-size: max(11px,3vw);
    border-width: max(1px,0.2vw);
    border-top-style: none;
    border-left-style: none;
    border-radius: 0;
    background-color: #EAE6E5;
    /* Prevents a "bug" that causes this element to follow adjacent elements down */
    vertical-align: top;
    box-sizing: border-box;
  }
  .piece_rating {
    display: inline-block;
    width: 25%;
    border-bottom: solid max(1px,0.2vw);
    /* Prevents a "bug" that causes this element to follow adjacent elements down */
    vertical-align: top;
    box-sizing: border-box;
    font-size: max(11px,3vw);
  }
  .parent_piece p {
    font-size: max(10px,1.9vw);
  }
  /* End - Review bar */
/* End - collected reviews */

/* Review page */
  /* Img & info */
  .parent_info_review{
    display: inline-block;
    width: max(150px,40%);
    margin: 5% 1% 2.5% 1%;
    background-color: #354449;
    text-align: center;
  }
  .parent_info_review img {
    width: max(130px,20vw);
    height: max(230px,30vw);
    padding: 5%;
    background-color: #354449;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-sizing: border-box;
  }
  .parent_info_review p {
    text-align: left;
    padding: 1%;
    font-size: max(15px,2vw);
    border-top: solid max(2.5px,0.5vw);
  }
  /* End - Img & Info */

  /* Description & review */
  .parent_des_rev{
    display: inline-block;
    margin: 4% 1% 0 1%;
    width: max(150px,40%);
    /* Prevents a "bug" that causes this element to follow adjacent elements down */
    vertical-align: top;
  }
  .parent_des_rev h2{
    font-size: max(20px,4vw);
    text-decoration: underline;
    background-color: #354449;
    border-radius: 10px;
    margin-bottom: 2%;
  }
  .des_rev{
    background-color: #354449;
    margin-bottom: 4%;
  }
  .des_rev h3 {
    border-bottom: solid max(1px,0.2vw);
    font-size: max(20px,2vw);
  }
  .des_rev p {
    font-size: max(12px,1.9vw);
    padding: 1%;
    padding-left: 2%;
  }
  /* End - Des & Rev */
/* End - Review page */

/* Contact page */
  /* Contact */
  .parent fieldset{
    display: inline-block;
    width: max(150px,40%);
    padding: 2%;
    margin: 2% 1%;
    text-align: center;
    /* Prevents a "bug" that causes this element to follow adjacent elements down */
    vertical-align: top;
    background-color: #EAE6E5;
  }
  .parent fieldset figure{
    margin-bottom: max(10px,5%);
  }
  .parent input {
    width: 100%;
  }
  .parent .form_container {
    font-size: max(16px,2vw);
  }
  .message {
    width: 100%;
    max-width: 307px;
    padding: 2%;
    /* Gör sig av med glipan under textarean */
    vertical-align: top; 
    box-sizing: border-box;
    background-color: #354449;
    border:solid max(2.5px,0.3vw);
    font-size: medium;
  }
  #contact_head {
    padding: 0 2%; 
    font-size: max(20px,2vw);
  }
  #send {
    background-color: #354449;
    font-size: max(20px,2vw);
    border-radius: 5px;
    border:solid max(2.5px,0.3vw);
  }
  #send:hover {
    box-shadow: inset 1px 1px 15px black;
  }
  /* End - Contact */

  /* Article & Map*/
  .parent .form_container main {
    display: inline-block;
    width: max(150px,40%);
    margin: max(20px,6%) 1% 2%;
  }
  .parent .form_container article {
    background-color: #354449;
    border-radius: 10px;
    margin-bottom: 2%;
  }
  .parent .form_container article h2 {
    border-bottom:solid max(2.5px,0.5vw);
  }
  iframe{
    width: 100%;
    height: 40vh;
    vertical-align: top;
    box-sizing: border-box;
  }
  #map {
    margin:max(20px,6%) 0 max(20px,6%); 
  }
  /* End - Article & Map */
/* End - Contact page */